
  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* background-color: #f3f5f6; */
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
}
a.active {
  background-color: #4b4545;
}
/* .intro {
  height: 200px;
} */
nav {
  background-color: black;
  z-index: 1;
  width: 100%;
  background-size: cover;
  padding: 0px;
}

nav ul li:hover {
  background-color: #4b4545;
}

.containerHead {
  display: flex;

  max-width: 1920px;
  background-size: cover;
  margin: 0 auto;
  position: fixed;
  min-width: 480px;
   /* height: 50px; */
}

.containerHead > ul{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
}
.containerHead a {
  color: #a6a5a6;
  text-decoration: none;
  padding: 0 15px;
}

.containerHead img {
  width: 20px;
  height: 20px;
  color: #7F7F7F;
  margin: 5px 0;
}

.positionFixer {
  top: -50px;
  position: relative;
  height: 100%;
  width: 100%;
}

/* #aboutMeContainer {
} */

main{
  width: 100%;
  height: 100%;
}

#cameraPicture {
  background-image: url("images/camera.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100%;
  min-width: 480px;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: flex-end;

  /* top: 50px; */

}
#myPhotos {
  /* ensures that the devs (photo-containers) are populated horizontally */
  display: flex;

  flex-wrap: wrap;
  justify-content: space-evenly; 
  width: 100%;
  max-width: 1920px;
  max-height: 100%;
  min-height: 270px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;

  /* accounts for the 50px correction from positionFixer */
  /* margin-top: 50px; */
}

#photosPosition {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

#myPhotos div {
  /* centers pictures vertically with respect to the div container */
  display: flex; 
  justify-content: center;
  border-radius: 4px;

  /* places four divs horizontally  */
  /* width: 25%; */
  /* min-width: 148.172px; */

  /* max-height: 100%; */
  padding: 55px;
}

#photosArea {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 50px;
}

.pictures {
  display: flex;
  align-self: center;
  cursor: pointer;
  max-width: 100%;
  max-height: 197.9295px;
  border-radius: 4px;
  transition: box-shadow .2s;
}

.parallax-container {
  height: 400px;
  width: 100vw;
  display: flex;
  align-items: flex-end;
}

/* div.section.white {
  height: 300px;
} */

#inlineHeader {
  display: inline;
}