
  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
    
}
a.active {
  background-color: gray;
}
/* .intro {
  height: 200px;
} */
nav {
  background-color: black;
  z-index: 99;
  width: 100%;
  background-size: cover;
  padding: 0px;
}


.containerHead {
  display: flex;

  max-width: 1920px;
 

  
  background-size: cover;
  margin: 0 auto;
  position: fixed;
  min-width: 480px;

 

   /* height: 50px; */
}

.containerHead > ul{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;


}
.containerHead a {
  color: #a6a5a6;
  text-decoration: none;
  padding: 0 15px;
}

.containerHead img {
  width: 20px;
  height: 20px;
  color: #7F7F7F;
  margin: 5px 0;
}

.positionFixer {
  position: relative;
  height: 64px;
}
/* #camerContaier {
  display: flex;
  min-height: 600px;
} */
main{
  width: 100%;
  height: 100%;
}

/* .imgbox {
  display: grid;
  height: 100%;
  position: relative;
} */

#cameraPicture {
  background-image: url("images/camera.jpg");
  background-repeat: no-repeat;
  /* max-width: 1920px;
  max-height: 1080px; */
  background-size: cover;
  background-position: center center;
  width: 100vw;
  margin: 0px auto 50px auto;
  min-height: 100vh;
  min-width: 480px;
  /* top: 50px; */

}

#photoArea {
  padding-top: 70px;
  display: flex;
}

#myPhotos {
  /* ensures that the devs (photo-containers) are populated horizontally */
  display: flex;

  flex-wrap: wrap;
  justify-content: space-evenly; 
  width: 100%;
  max-width: 1920px;
  max-height: 500px;
  min-height: 270px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
}

#myPhotos div {
  /* centers pictures vertically with respect to the div container */
  display: flex; 
  justify-content: center;
  /* places four divs horizontally  */
  /* width: 25%; */

  /* removes the need to calculate the size of the image */
  box-sizing: border-box;
  max-height: 100%;
  min-width: 148.172px;
  /* maybe change this for 470px; */
  padding: 5px;
}

#photoArea {
  display: flex;
  justify-content: center;
  /* margin: 0 50px; */
  
}